* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.header{
    display: flex;
    align-items: center;
    padding: 10px ;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    min-height: 64px;
}

.logo img {
    height: 42px;       
    width: auto;
    object-fit: contain;
    cursor: pointer;
    display: block;
    margin: 5px;
}

.menu-btn {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.kategori-wrapper {
    position: relative;
}

.kategori-btn {
    padding: 8px 14px;
    border-radius: 8px;
    border: 1px solid #ddd;
    border: none;
    background: #fff;
    cursor: pointer;
    font-size: 14px;

}

.kategori-btn:hover {
    background: #f5c444;
}

.kategori-dropdown {
    position: absolute;
    top: 120%;
    left: 0;
    width: 200px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.12);
    list-style: none;
    padding: 8px 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(8px);
    transition: 0.25s ease;
    z-index: 999;
}

.kategori-dropdown li {
    padding: 10px 16px;
    font-size: 14px;
    cursor: pointer;
}

.kategori-dropdown li:hover {
    background: #f1f5ff;
    color: #f5c444;
}

.kategori-wrapper:hover .kategori-dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.search-bar {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 1000px;
    height: 45px;
    border: 1px solid #ddd;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;  
}

.search-bar input {
    flex: 1;
    height: 100%;
    padding: 0 16px;
    border: none;
    outline: none;
    font-size: 14px;
}

.search-btn {
    min-width: 46px;
    height: 100%;
    background: #3533cd;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-btn img {
    width: 22px;
    height: 22px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon-btn,
.akun-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon-btn img,
.akun-btn img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.icon-btn:hover,
.akun-btn:hover {
    background: #f5c444;
}

.mobile-kategori {
    position: fixed;
    top: 0;
    left: -100%;
    width: 70%;
    height: 100vh;
    background: #fff;
    box-shadow: 2px 0 10px rgba(0,0,0,0.2);
    padding: 20px;
    transition: 0.3s;
    z-index: 999;
}

.mobile-kategori.active {
    left: 0;
}

.mobile-kategori h3 {
    margin-bottom: 15px;
}

.kategori-list {
    list-style: none;
}

.kategori-list li {
    padding: 12px 0;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

@media (max-width: 768px) {

    .logo img {
        display: none;
    }    

    .icon-btn,
    .akun-btn {
        width: 14px;
        height: 20px;
    }

    .icon-btn img,
    .akun-btn img {
        width: 20px;
        height: 20px;

    }

    .search-bar {
        width: 30px;
        height: 38px;
        margin: 5px;
    }

    .search-btn img {
        width: 20px;
        height: 20px;
    }

    .header {
        max-width: 100%;
        padding: 10px 16px;
    }

    .kategori-wrapper {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .icon-btn:hover,
    .akun-btn:hover {
        background: none;
    }
    
}
